/*HEADER*/
.page-header{
    background-color:#C9CDCA;
    margin-top:0px;
    padding-top:0px;
    margin-bottom:0px;
    padding-bottom:0px;
    
}
#design{
    margin:0px;
    font-family: 'Pacifico', cursive;
    padding-bottom:50px;
    text-align:center;
}
#homepage{
    margin:0px;
    padding-top:50px;
    text-align:center;
}

/*NAV BAR*/
#navvy{
    margin-top:0px;
}
#navCont{
    padding-right:0px;
}
#meat{
    margin-left:30%;
}
#properties{
    text-align:right;
    background-color:#AAABAB;
    color:white;
}
#windows{
    background-color:#837B7C;
    color:white;
}



/*GRID*/
/*#pic1-1 {
    background-image: url('Images/tuscany-villas-sant-anna.jpg');
}
#pic1-2 {
    background-image: url('Images/Versilia.jpg');
}*/
.squares{
    border:solid 1px;
    height:200px;
}
#txtPosit{
    margin-left:25%;
    margin-top:25%;
}